@mixin animation($value) {
  -webkit-animation: #{$value};
  -moz-animation: #{$value};
  -o-animation: #{$value};
  animation: #{$value};
}

@mixin transition($value) {
  -webkit-transition: #{$value};
  -moz-transition: #{$value};
  -o-transition: #{$value};
  transition: #{$value};
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(waitload) {
  0% {
    @include transform('rotate(0deg)');
  }
  100% {
    @include transform('rotate(360deg)');
  }
}

@include keyframes(show-modal) {
  0% {
    top : -450px;
  }
  100% {
    top : 10vh;
  }
}

@include keyframes(show-comments) {
  0% {
    height: 0%
  }
  100% {
    height: 70%
  }
}


@include keyframes(show-post-item) {
  0% {
    right: -100%
  }
  100% {
    right: 0%
  }
}