body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #FAFAFA;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  @include user-select('none');

  #content-wraper {
    width: 100%;
    height: 100%;
  }

  #background-layer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 0.4;
    background-color: #000;
    z-index: 100;
  }
}

#greeting {
  width: 100%;
  height: 100vh;

  .auth {
    width: 100%;
    height: 50px;

    a {
      display: block;
      float: right;
      width: 80px;
      height: 85%;
      border-radius: 20px;
      border: 3px solid #05abf2;
      margin: 5px 10px 5px 0;
      text-decoration: none;
      text-transform: uppercase;
      color: #f24438;
      font-size: 24px;
      font-weight: bolder;
      text-align: center;
      line-height: 40px;
      @include transition('all ease 0.5s')
    }

    a:hover {
      box-shadow: inset 0 50px 0 0 #05abf2;
      color: #fff;
      font-weight: bolder;
      cursor: pointer;
    }
  }

  .greeting-circle {
    width: 50%;
    max-width: 500px;
    background-color: #05abf2;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 15vh;
    position: relative;

    div.content {
      position:  absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: white;
        font-weight: lighter;
        font-size: 68px;
      }
    }
  }

  .greeting-circle:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

body.unauthorized {
  background-color: #FAFAFA;

  header {
    width: 100%;
    height: 50px;

    nav {
      width: 40%;
      height: 100%;
      float: right;
      font-weight: lighter;
      font-size: 20px;

      a:not(#auth) {
        display: none;
      } 

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        float: right;
        text-decoration: none;
        color: white;
        border-radius: 20px;
        background-color: #05abf2;
        opacity: 0.8;

        &:hover {
          cursor: pointer;
          background-color: #05abf2;
          opacity: 1;
        }
      }
    }
  }

  footer {
    display: none;
  }
}