@mixin user-select($value) {
  -webkit-user-select: #{$value};
  -moz-user-select: #{$value};   
  -ms-user-select: #{$value};    
  user-select: #{$value};
}

@mixin filter($value) {
  -webkit-filter : #{$value};
  -ms-filter : #{$value};
  -moz-filter : #{$value};
  -o-filter : #{$value};
  filter : #{$value};
}