@mixin user-select($value) {
  -webkit-user-select: #{$value};
  -moz-user-select: #{$value};   
  -ms-user-select: #{$value};    
  user-select: #{$value};
}

@mixin filter($value) {
  -webkit-filter : #{$value};
  -moz-filter : #{$value};
  -ms-filter : #{$value};
  -o-filter : #{$value};
  filter : #{$value};
}

@mixin transform($value) {
  -webkit-transform : #{$value};
  -moz-transform : #{$value};
  -ms-transform : #{$value};
  -o-transform : #{$value};
  transform : #{$value};
}