@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic-ext);
@-webkit-keyframes waitload {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes waitload {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes waitload {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes waitload {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes show-modal {
  0% {
    top: -450px; }
  100% {
    top: 10vh; } }
@-moz-keyframes show-modal {
  0% {
    top: -450px; }
  100% {
    top: 10vh; } }
@-o-keyframes show-modal {
  0% {
    top: -450px; }
  100% {
    top: 10vh; } }
@keyframes show-modal {
  0% {
    top: -450px; }
  100% {
    top: 10vh; } }
@-webkit-keyframes show-comments {
  0% {
    height: 0%; }
  100% {
    height: 70%; } }
@-moz-keyframes show-comments {
  0% {
    height: 0%; }
  100% {
    height: 70%; } }
@-o-keyframes show-comments {
  0% {
    height: 0%; }
  100% {
    height: 70%; } }
@keyframes show-comments {
  0% {
    height: 0%; }
  100% {
    height: 70%; } }
@-webkit-keyframes show-post-item {
  0% {
    right: -100%; }
  100% {
    right: 0%; } }
@-moz-keyframes show-post-item {
  0% {
    right: -100%; }
  100% {
    right: 0%; } }
@-o-keyframes show-post-item {
  0% {
    right: -100%; }
  100% {
    right: 0%; } }
@keyframes show-post-item {
  0% {
    right: -100%; }
  100% {
    right: 0%; } }
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #FAFAFA;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  body #content-wraper {
    width: 100%;
    height: 100%; }
  body #background-layer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 0.4;
    background-color: #000;
    z-index: 100; }

#greeting {
  width: 100%;
  height: 100vh; }
  #greeting .auth {
    width: 100%;
    height: 50px; }
    #greeting .auth a {
      display: block;
      float: right;
      width: 80px;
      height: 85%;
      border-radius: 20px;
      border: 3px solid #05abf2;
      margin: 5px 10px 5px 0;
      text-decoration: none;
      text-transform: uppercase;
      color: #f24438;
      font-size: 24px;
      font-weight: bolder;
      text-align: center;
      line-height: 40px;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
    #greeting .auth a:hover {
      box-shadow: inset 0 50px 0 0 #05abf2;
      color: #fff;
      font-weight: bolder;
      cursor: pointer; }
  #greeting .greeting-circle {
    width: 50%;
    max-width: 500px;
    background-color: #05abf2;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 15vh;
    position: relative; }
    #greeting .greeting-circle div.content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      #greeting .greeting-circle div.content span {
        color: white;
        font-weight: lighter;
        font-size: 68px; }
  #greeting .greeting-circle:before {
    content: "";
    display: block;
    padding-top: 100%; }

body.unauthorized {
  background-color: #FAFAFA; }
  body.unauthorized header {
    width: 100%;
    height: 50px; }
    body.unauthorized header nav {
      width: 40%;
      height: 100%;
      float: right;
      font-weight: lighter;
      font-size: 20px; }
      body.unauthorized header nav a:not(#auth) {
        display: none; }
      body.unauthorized header nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        float: right;
        text-decoration: none;
        color: white;
        border-radius: 20px;
        background-color: #05abf2;
        opacity: 0.8; }
        body.unauthorized header nav a:hover {
          cursor: pointer;
          background-color: #05abf2;
          opacity: 1; }
  body.unauthorized footer {
    display: none; }

#modal-window {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  -webkit-animation: show-modal 0.3s forwards;
  -moz-animation: show-modal 0.3s forwards;
  -o-animation: show-modal 0.3s forwards;
  animation: show-modal 0.3s forwards; }

#modal-auth {
  background-color: #3949ab;
  width: 600px;
  padding-bottom: 15px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  border: 5px solid #05abf2;
  z-index: 101;
  -webkit-animation: show-modal 0.6s forwards;
  -moz-animation: show-modal 0.6s forwards;
  -o-animation: show-modal 0.6s forwards;
  animation: show-modal 0.6s forwards; }
  #modal-auth nav {
    width: 100%;
    height: 50px;
    background-color: #283593; }
    #modal-auth nav a.active {
      background-color: #3949ab; }
    #modal-auth nav a {
      display: block;
      line-height: 50px;
      width: 47%;
      height: 100%;
      float: left;
      color: #fff;
      font-weight: lighter;
      font-size: 32px;
      cursor: pointer;
      padding-left: 3%; }
  #modal-auth div.title {
    width: 100%; }
    #modal-auth div.title span {
      color: #fff;
      display: block; }
    #modal-auth div.title span.level-01 {
      padding-top: 10px;
      font-size: 58px;
      padding-left: 10px; }
    #modal-auth div.title span.level-02 {
      padding-top: 10px;
      padding-right: 10px;
      font-size: 24px;
      text-align: right;
      text-transform: uppercase;
      font-weight: lighter; }
  #modal-auth form {
    width: 90%;
    margin: 0 auto; }
    #modal-auth form input, #modal-auth form button {
      outline: none;
      border: none; }
    #modal-auth form input {
      display: block;
      width: 95%;
      height: 50px;
      font-size: 24px;
      margin: 15px 0;
      padding-left: 5%; }
    #modal-auth form button {
      width: 40%;
      height: 70px;
      background-color: #ff80ab;
      font-size: 34px;
      cursor: pointer; }
  #modal-auth .registration input[type='password'] {
    width: 44%;
    display: inline-block; }
  #modal-auth .registration input[ng-model='password01'] {
    float: left; }
  #modal-auth .registration input[ng-model='password02'] {
    float: right; }

#categories-list {
  height: 100%;
  width: 15vw;
  text-align: center;
  display: inline-block;
  float: left; }
  #categories-list .categories-item {
    padding: 30px 0;
    font-size: 30px;
    color: #036564;
    font-weight: bolder;
    text-transform: uppercase; }
    #categories-list .categories-item div {
      display: inline-block;
      padding: 0 0 0 15px;
      -webkit-transition: color ease 1s;
      -moz-transition: color ease 1s;
      -o-transition: color ease 1s;
      transition: color ease 1s; }
    #categories-list .categories-item div:hover {
      cursor: pointer;
      color: #FAF7F3; }

#posts-area {
  width: 85vw;
  display: inline-block;
  float: left; }
  #posts-area #posts-list, #posts-area #post-item {
    display: inline-block; }
  #posts-area #posts-list {
    float: left;
    width: 50%;
    margin-left: 20px; }
    #posts-area #posts-list .post-item {
      width: 100%;
      max-width: 420px;
      background-color: #05A09F;
      margin: 40px 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
      #posts-area #posts-list .post-item .preview {
        color: #fff;
        height: 100px; }
        #posts-area #posts-list .post-item .preview .title {
          font-size: 54px; }
        #posts-area #posts-list .post-item .preview .content {
          font-size: 28px;
          font-weight: lighter; }
        #posts-area #posts-list .post-item .preview div.text, #posts-area #posts-list .post-item .preview div.pic-title {
          display: inline-block;
          height: inherit; }
        #posts-area #posts-list .post-item .preview div.text {
          width: 70%;
          float: left; }
          #posts-area #posts-list .post-item .preview div.text span {
            padding-left: 10px; }
        #posts-area #posts-list .post-item .preview div.pic-title {
          width: 30%;
          float: right; }
          #posts-area #posts-list .post-item .preview div.pic-title img {
            height: 80%;
            margin-top: 10%;
            margin-left: 20%; }
      #posts-area #posts-list .post-item .footer {
        padding: 15px 10px;
        color: #036564;
        font-weight: bolder;
        text-transform: uppercase; }
        #posts-area #posts-list .post-item .footer div {
          display: inline-block;
          padding: 0 0 0 15px;
          -webkit-transition: color ease 1s;
          -moz-transition: color ease 1s;
          -o-transition: color ease 1s;
          transition: color ease 1s; }
        #posts-area #posts-list .post-item .footer div:hover {
          cursor: pointer;
          color: #FAF7F3; }
  #posts-area #post-item {
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #05A09F;
    font-weight: lighter;
    z-index: 101;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    #posts-area #post-item .title {
      width: 100%;
      height: 25%;
      position: relative; }
      #posts-area #post-item .title i {
        position: absolute;
        top: 5%;
        right: 5%;
        color: #fff;
        font-size: 30px;
        cursor: pointer; }
      #posts-area #post-item .title .img-container {
        width: 100%;
        height: 100%;
        background-size: 100%; }
      #posts-area #post-item .title .dark-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        top: 0;
        opacity: 0.5; }
      #posts-area #post-item .title span {
        position: absolute;
        z-index: 2;
        top: 0;
        color: #fff;
        font-size: 54px;
        line-height: 100px;
        margin-left: 40px; }
    #posts-area #post-item .content-block {
      position: relative;
      height: 75%; }
      #posts-area #post-item .content-block .content {
        color: #fff;
        line-height: 1.7;
        padding: 2%;
        overflow: hidden;
        height: 81%; }
      #posts-area #post-item .content-block .content.blur {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -ms-filter: blur(5px);
        -o-filter: blur(5px);
        filter: blur(5px); }
      #posts-area #post-item .content-block .comments {
        height: 15%; }
        #posts-area #post-item .content-block .comments .preview {
          padding: 15px 10px;
          color: #036564;
          text-transform: uppercase; }
          #posts-area #post-item .content-block .comments .preview div {
            font-weight: 900;
            display: inline-block;
            padding: 0 0 0 15px;
            -webkit-transition: color ease 1s;
            -moz-transition: color ease 1s;
            -o-transition: color ease 1s;
            transition: color ease 1s; }
          #posts-area #post-item .content-block .comments .preview div:hover {
            cursor: pointer;
            color: #FAF7F3; }
        #posts-area #post-item .content-block .comments .list {
          background-color: #036564;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 70%;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.19), 0 0 10px rgba(0, 0, 0, 0.23);
          -webkit-animation: show-comments 0.4s forwards ease-out;
          -moz-animation: show-comments 0.4s forwards ease-out;
          -o-animation: show-comments 0.4s forwards ease-out;
          animation: show-comments 0.4s forwards ease-out; }
          #posts-area #post-item .content-block .comments .list .waiting-data {
            width: 100%;
            height: 100%;
            z-index: 2;
            position: absolute;
            background-color: black;
            opacity: 0.6; }
            #posts-area #post-item .content-block .comments .list .waiting-data .spinner {
              margin: 50px;
              height: 28px;
              width: 28px;
              border: 8px solid #fff;
              border-right-color: transparent;
              border-radius: 50%;
              position: absolute;
              bottom: 0;
              left: 50%;
              margin-left: -22px;
              -webkit-animation: waitload 0.8s infinite linear;
              -moz-animation: waitload 0.8s infinite linear;
              -o-animation: waitload 0.8s infinite linear;
              animation: waitload 0.8s infinite linear; }
          #posts-area #post-item .content-block .comments .list #hide-block {
            padding: 15px;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            color: #036564;
            background-color: #05A09F; }
            #posts-area #post-item .content-block .comments .list #hide-block div {
              font-weight: 900;
              display: inline-block;
              padding: 0 0 0 15px;
              -webkit-transition: color ease 1s;
              -moz-transition: color ease 1s;
              -o-transition: color ease 1s;
              transition: color ease 1s; }
            #posts-area #post-item .content-block .comments .list #hide-block div:hover {
              cursor: pointer;
              color: #FAF7F3; }
          #posts-area #post-item .content-block .comments .list #hide-block:hover {
            cursor: pointer; }
          #posts-area #post-item .content-block .comments .list .comment-item {
            padding: 25px; }
            #posts-area #post-item .content-block .comments .list .comment-item .text, #posts-area #post-item .content-block .comments .list .comment-item .img {
              display: inline-block;
              min-height: 70px; }
            #posts-area #post-item .content-block .comments .list .comment-item .text {
              width: 70%;
              float: left; }
              #posts-area #post-item .content-block .comments .list .comment-item .text .author {
                height: 30px;
                line-height: 30px;
                padding-left: 15px;
                color: #84FFFF;
                font-weight: bolder;
                font-size: 20px; }
              #posts-area #post-item .content-block .comments .list .comment-item .text .comment {
                min-height: 40px; }
                #posts-area #post-item .content-block .comments .list .comment-item .text .comment span {
                  color: #fff;
                  padding-left: 5px;
                  padding-top: 5px; }
            #posts-area #post-item .content-block .comments .list .comment-item .img {
              max-height: 70px;
              float: right;
              width: 25%;
              text-align: center; }
              #posts-area #post-item .content-block .comments .list .comment-item .img img {
                max-height: 70px; }
            #posts-area #post-item .content-block .comments .list .comment-item .time {
              width: 100%;
              height: 30px;
              float: left;
              line-height: 30px;
              text-align: right; }
              #posts-area #post-item .content-block .comments .list .comment-item .time span {
                margin-right: 15px;
                font-size: 12px;
                color: #fff; }
            #posts-area #post-item .content-block .comments .list .comment-item .separator-dot {
              width: 100%;
              height: 20px;
              float: left; }
              #posts-area #post-item .content-block .comments .list .comment-item .separator-dot span {
                display: block;
                width: 15px;
                height: 15px;
                background-color: #84FFFF;
                border-radius: 50%;
                margin: 0 auto;
                margin-top: 2.5px; }

/*# sourceMappingURL=style.css.map */
