<div id='modal-auth' ng-controller='LoginCtrl'>
  <nav>
    <a ng-class="(switch == 'login') ? 'active' : '' " ng-click="switchPanel('login')">Login</a>
    <a ng-class="(switch == 'registration') ? 'active' : '' " ng-click="switchPanel('registration')">Registartion</a>
  </nav>
  <div class="login" ng-if="switch == 'login'">
    <div class='title'>
      <span class='level-01'>Auth on platform</span>
      <span class='level-02'>Enter your's data in form and enter to site.</span>
    </div>
    <form>
        <input type='text' placeholder='Username' required ng-model='username'></input>
        <input type='password' placeholder='Password' required ng-model='password'></input>
        <button ng-click='login(username, password)'>Login</button>
    </form>
  </div>

  <div class="registration" ng-if="switch == 'registration'">
    <div class='title'>
      <span class='level-01'>Begin apart of platform</span>
      <span class='level-02'>Enter your's data in form and enter to site.</span>
    </div>
    <form>
        <input type='text' placeholder='Username' required ng-model='username'></input>
        <input type='password' placeholder='Password' required ng-model='password01'></input>
        <input type='password' placeholder='Password' required ng-model='password02'></input>
        <button ng-click='registartion(username, password01, password02)'>Registartion</button>
    </form>
  </div>
</div>