<div class='comments'>
    <div class='preview'>
      <div class="button" ng-click='switchCommentsBlock(post.id)'>
        add comment
      </div>
    </div>
    <div class='list' ng-show='switchComments'>
      <div class="waiting-data" ng-if="load">
        <div class="spinner"></div>
      </div>
      <div id='hide-block' ng-click='switchCommentsBlock()'>
        <div>hide comments</div>
      </div>
      <div class='comment-item' ng-repeat="comment in comments">
        <div class='text'>
          <div class='author'>
            {{ comment.author }}
          </div>
          <div class='comment'>
            <span>
              {{ comment.text }}
            </span>
          </div>
        </div>
        <div class='img'>
          <img src="img/post/preview/Joker.jpg">
        </div>
        <div class='time'>
          <span>{{ comment.time }}</span>
        </div>
        <div class='separator-dot'>
          <span>
            
          </span>
        </div>
      </div>
    </div>
  </div>