<div id='greeting' ng-controller='MainCtrl'>
  <div class='header'>
    <div class='title'>
      <div class='level-01'>kitchen</div>
      <div class='level-02'>developers</div>
    </div>
    <nav class="auth">
      <a ng-click='auth()'>Auth</a>
    </nav>
    <img src="img/interface/greeting/title.png">
  </div>

  <div class='footer'>
    
  </div>
  <!-- <nav class="auth">
    <a ng-click='auth()'>Auth</a>
  </nav>
  <div class='greeting-circle'>
  	<div class='content'>
  		<span>
      		{{ hello }}
    	</span>
  	</div>
  </div> -->
</div>