<div id="posts-area">
  <div id='posts-list'>
    <div ng-repeat="item in posts">
      <div class='post-item' data-id='{{ item.id }}'>
        <div class='preview'>
          <div class='text'>
            <div class='title'><span>{{ item.title }}</span></div>
            <div class='content'><span>{{ item.content | limitTo: 20 }}{{ item.content.length > 20 ? '...' : '' }}</span></div>
          </div>
          <div class='pic-title'>
            <img src="img/post/preview/{{ item.previewImg }}">
          </div>
        </div>
        <div class='footer'>
          <div class="more-info" ng-click="showPost(item)">
            read more
          </div>
          <div class="comment">
            add comment
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <post-item></post-item>
</div>