<div id="post-item">
  <div class="title">
    <div class='img-container'></div>
    <div class='dark-layer'></div>
    <span>{{ post.title }}</span>
    <i class="fa fa-times" aria-hidden="true" ng-click="close()"></i>
  </div>
  <div class="content-block">
    <div class="content" ng-class="switchComments ? 'blur' : '' ">
      <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="0.5" min-scrollbar-length="10">
        {{ post.content }}
      </perfect-scrollbar>
    </div>
    <comments-block>

    </comments-block>
  </div>
</div>